body {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #ff9036;
    height: 100%;
    text-align: center;
}

.bodyContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.header{
    font-size: 5em;
    margin: 0px auto;
    padding: 0px auto;
}

#map-canvas {
    height: 400px;
    width: 600px;
}

.controls{
    float: left;
    width: 30%;
    height: 100%;
}

.map{
    float:right;
    width: 65%;
    height: 100%;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    background-color: #ff9036;
    color: white;
}

.submitBtn {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#overlay {
    background-image: url('/assets/modal.png');
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

#overlayWindow {
    background-color: #fff;
    text-align:center;
    width: 30%;
    font-size: 1.5em;
    margin: auto;
    padding: 0.25em;
    position: relative;
    top: 35%;
}

.loginHeading{
    font-size: 2em;
}

.loginLinks span, a{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 1em;
}
